.aiutati .titoloContainer {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 18px;
}

.aiutati .titoloContainer .titolo {
    color: var(--bianco);
    font-size: 30px;
    font-weight: 600;
}

.aiutati .titoloContainer .configAiutati{
    border: none;
    background-color: #0000;
    padding: 0;
}

.aiutati .lstUser .utente {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px 31px 11px 0;
    border-bottom: 1px solid var(--primario);
    position: relative;
}

.aiutati .lstUser .utente .gradiant {
    position: absolute;
    width: 170px;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(170deg, rgba(0, 255, 240, 0) 68%, rgb(0 255 240 / 34%) 100%);
    bottom: 0;
    right: 0;
}

.aiutati .lstUser .utente .nome {
    color: var(--primario);
    font-size: 16px;
    margin-bottom: 6px;
}

.aiutati .lstUser .utente .data {
    color: var(--bianco);
    font-size: 16px;
    font-weight: 200;
}

.aiutati .lstUser .utente .azioni {
    display: inline-flex;
    align-items: center;
    gap: 28px;
}

.aiutati .lstUser .utente .azioni button {
    padding: 0;
    border: none;
    background-color: #0000;
}