:root {
    --black: #181B1B;
    --white: #fff;
    --primary: #00FFF0;
}

* {
    font-family: "Lexend", sans-serif;
    vertical-align: baseline;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-shrink: 1;
    transition: 0.3s;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

.container {
    padding: 0 42px;
    max-width: 428px;
    margin: 0 auto;
}

body {
    background-color: var(--black);
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: calc(100% + 10px);
    left: -5px;
    right: -5px;
    backdrop-filter: blur(15px);
    box-shadow: inset 0px 0px 13px #00fff033;
    padding: 21px 5px;
    z-index: 100;
}

header .headerContent .title {
    color: var(--primary);
    font-size: 20px;
    font-weight: 600;
}

header .headerContent {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

header .headerContent .navHeader .navList {
    display: inline-flex;
    width: 100%;
    gap: 33px;
    list-style: none;
    padding: 0;
}

main {
    padding: 88px 0 140px;
}

.os-scrollbar.os-scrollbar-vertical {
    padding: 88px 10px 140px 10px !important;
    box-sizing: content-box;
    width: 8px;

    .os-scrollbar-handle {
        background-color: var(--primary) !important;
    }
}

footer {
    background-color: #3a3a3a03;
    position: fixed;
    bottom: -11px;
    width: calc(100% + 10px);
    left: -5px;
    right: -5px;
    backdrop-filter: blur(15px);
    box-shadow: inset 0px 0px 13px #00fff033;
    z-index: 100;
}

footer .contentFooter {
    padding: 8px 5px 36px 5px;
    position: relative;
}

footer .contentFooter .navFooter {
    position: relative;
}

footer .contentFooter .navFooter .navList {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

footer .contentFooter .activeEffect {
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 255, 240, 0) 0%, rgba(0, 255, 240, 1) 32%, rgba(0, 255, 240, 1) 68%, rgba(0, 255, 240, 0) 100%);
    height: 100%;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.2;
    pointer-events: none;
    filter: blur(10px);
}

footer .contentFooter .activeEffect.left {
    left: 0%;
    transform: translateX(0%);
}

footer .contentFooter .activeEffect.right {
    left: 100%;
    transform: translateX(-100%);
}

footer .contentFooter .navFooter .navItem {
    min-width: 80px;
}

footer .contentFooter .navFooter .navItem .profilo-icon {
    height: 31px;
    width: 28px;
    object-fit: contain;
}

footer .contentFooter .navFooter .navItem .aiuta-Icon {
    height: 42px;
    width: 38px;
    object-fit: contain;
}

footer .contentFooter .navFooter .navItem .impostazioni-Icon {
    height: 33px;
    width: 33px;
    object-fit: contain;
}

footer .contentFooter .navFooter .navItem a {
    color: #939393;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 11.77px;
    align-items: center;
}

footer .contentFooter .navFooter .navItem.active a {
    color: var(--white);
}